<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.mapper.SchoolManagerMapper.SchoolManagerMapper">
    <select id="getSchoolManagerByUid" parameterType="int" resultMap="schoolmanagerMap">
        select * from schoolmanager inner join users on schoolmanager.uid=uses.uid and users.uid=#{uid}
    </select>
    <update id="updateSchoolManager" parameterType="schoolmanager">
        update schoolmanager set smname=#{smname},uid=#{user.uid} where smid=#{smid}
    </update>
    <resultMap id="schoolmanagerMap" type="schoolmanager">
        <id property="smid" column="smin"></id>
        <result property="smname" column="smname"></result>
        <association property="user" column="uid" javaType="user">
            <id property="uid" column="uid"></id>
            <result property="uname" column="uname"></result>
            <result property="upwd" column="upwd"></result>
        </association>
    </resultMap>
//
    <!--查看班级平均成绩-->
    <select id="selectScoreAvg" resultMap="Avg1" parameterType="java.lang.String">
        select  cname, score,stage,AVG(score) from scores   INNER JOIN students  on scores.stuid=students.stuid
        INNER JOIN classes  on classes.cid=students.cid where classes.cname=#{cname} GROUP BY  stage
    </select>
    <resultMap id="Avg1" type="ALLColumn">
        <id column="score" property="score"></id>
        <result property="cname" column="cname"></result>
        <result property="stage" column="stage"></result>
        <result column="AVG(score)" property="AVG"></result>
    </resultMap>


    <!--查看学生成绩走势-->
    <select id="selectScoreByStuname" resultMap="selectScore1">
        select  score  from students  INNER JOIN scores   on students.stuid=scores.stuid  where stuname=#{stuname}
    </select>
    <resultMap id="selectScore1" type="ALLColumn">
        <result property="stuname" column="stuname"></result>
        <result column="score" property="score"></result>
        <result column="stage" property="stage"></result>
    </resultMap>
</mapper>