<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.mapper.userMapper.Course1Mapper">

    <select id="getCourse" resultType="course">
        select courseid,coursename from courses
    </select>
<!--    <resultMap id="courseMap" type="course">-->
<!--        <id property="courseid" column="courseid"></id>-->
<!--        <result property="coursename" column="coursename"></result>-->
<!--        <association property="teacher" javaType="teacher" column="tid" select="selectteacher"></association>-->
<!--    </resultMap>-->

    <select id="selectteacher" resultType="teacher">
        select * from where tid=#{tid}
    </select>



    <update id="updateCourse" parameterType="course">
        update courses set coursename={coursename} where courseid=#{courseid}
    </update>

    <delete id="deleteCourse">
        delete from courses where courseid=#{courseid}
    </delete>

    <insert id="addCourse" parameterType="course">
        insert into(coursename) values (#{coursename})
    </insert>


</mapper>