<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.mapper.scoreMapper.ScoreMapper">
    <insert id="addScore" parameterType="score">
        insert into scores(score,sid,stage,courseid) values (#{score},#{student.sid},#{stage},#{course.courseid})
    </insert>
    <delete id="deleteScoreByScoreid" parameterType="int" >
        delete from scores where scoreid=#{scoreid}
    </delete>
    <update id="updateScore" parameterType="score" >
        update scores set score=#{score},stuid=#{student.stuid},stage=#{stage},courseid=@{course.courseid}
    </update>
    <select id="getScoreByScoreid" parameterType="int" resultMap="scoreMap">
        select * from scores inner join students on scores.stuid=students.stuid inner join courses on scores.courseid=courses.courseid and scores.scoreid=#{scoreid}
    </select>
    <select id="getScoreList" resultMap="scoreMap" >
        select * from scores inner join students on scores.stuid=students.stuid inner join courses on scores.courseid=courses.courseid
    </select>
    <select id="getScoreListByStuid" resultMap="scoreMap">
        select * from scores inner join students on scores.stuid=students.stuid inner join courses on scores.courseid=courses.courseid and scores.sid=#{sid}
    </select>
    <select id="getScoreByStuid" resultMap="scoreMap">
        select * from scores inner join students on scores.stuid=students.stuid inner join reports on scores.stuid=reports.stuid and students.stuid=#{stuid}
    </select>
    <select id="getScoreByStuid_stage" resultMap="scoreMap" >
        select * from scores where stuid=#{arge[0]} and stage=#{arge[1]}
    </select>
    <resultMap id="scoreMap" type="score">
        <id property="scoreid" column="scoreid"></id>
        <result property="score" column="score"></result>
        <result property="stage" column="stage"></result>
        <association property="student" column="sid" javaType="student">
            <id property="stuid" column="stuid"></id>
            <result property="stuname" column="stuname"></result>
            <result property="stuage" column="stuage"></result>
            <result property="stusex" column="stusex"></result>
        </association>
        <association property="ccourse" column="courseid" javaType="course">
            <id property="courseid" column="coursename"></id>
            <result property="coursename" column="coursename"></result>
        </association>
    </resultMap>
</mapper>