<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.mapper.ClassLeaderMapper.CLassLeaderMapper">
    <!-- 查看班主任信息 -->
    <select id="selectMessage" resultType="com.test.pojo.ClassLeader" parameterType="int">
    select clid,clname  from classleaders inner join users on classLeaders.uid=users.uid where users.uid = #{uid}
    </select>

    <!-- 班主任修改密码
    <update id="updateUpwdByClassLeader" parameterType="user">
        update users set upwd=#{upwd} where uname=#{uname}
    </update> -->

       <!--查看周报-->
      <select id="selectReport" resultMap="reportstu"  >
          select rid, students.stuid, students.stuname, yue,week,title,content,score from
           reports inner join students on  reports.stuid=students.stuid
      </select>
    <resultMap id="reportstu" type="report">
        <id column="rid" property="rid"></id>
        <result column="yue" property="yue"></result>
        <result column="week" property="week"></result>
        <result column="title" property="title"></result>
        <result column="content" property="content"></result>
        <result column="score" property="score"></result>
        <association property="student" javaType="student" column="stuid" resultMap="student1"></association>
    </resultMap>
    <resultMap id="student_report" type="student">
        <id property="stuid" column="stuid"></id>
        <result property="stuname" column="stuname"></result>
        <result property="stuage" column="stuage"></result>
        <result property="stusex" column="stusex"></result>
        <result property="cid" column="cid"></result>
    </resultMap>

    <!-- 筛选周报  -->
  <select id="selectReportByStuname"  resultMap="reports1" parameterType="java.lang.String">
      select rid,yue,week,title,content,score from reports inner join students on  reports.stuid=students.stuid
       where  students.stuname=#{stuname}
  </select>
  <resultMap id="reports1" type="report">
      <id column="rid" property="rid"></id>
      <result column="yue" property="yue"></result>
      <result column="week" property="week"></result>
      <result column="title" property="title"></result>
      <result column="content" property="content"></result>
      <result column="score" property="score"></result>
      <association property="student" javaType="student" column="stuid" resultMap="student1"></association>
  </resultMap>
  <resultMap id="student1" type="student">
      <id property="stuid" column="stuid"></id>
      <result property="stuname" column="stuname"></result>
      <result property="stuage" column="stuage"></result>
      <result property="stusex" column="stusex"></result>
      <result property="cid" column="cid"></result>
  </resultMap>

    <!-- 学生信息查看 -->
    <select id="selectStudent" resultType="student" >
        select stuid,stuname,stuage,stusex from students
    </select>

    <!--  导入学生信息 -->
   <insert id="insertStudentMessage" parameterType="student">
       insert into students (stuname,stuage,stusex,cid) values(#{stuname},#{stuage},#{stusex},#{cid})
   </insert>

    <!--导出学生信息-->
    <select id="export" resultMap="exportstu">
        select stuid,stuname,stuage,stusex,classes.cid from students inner join
        classes on students.cid=classes.cid
    </select>
    <resultMap id="exportstu" type="student">
        <id property="stuid" column="stuid"></id>
        <result property="stuname" column="stuname"></result>
        <result property="stuage" column="stuage"></result>
        <result property="stusex" column="stusex"></result>
        <association property="classes" column="cid" javaType="classes" resultMap="classessut"></association>
    </resultMap>
    <resultMap id="classessut" type="classes">
        <id property="cid" column="cid"></id>
        <result column="cname" property="cname"></result>
    </resultMap>


    <!--查看班级平均成绩-->
    <select id="selectScoreAvg" resultMap="Avg1" parameterType="java.lang.String">
        select  cname, score,stage,AVG(score) from scores   INNER JOIN students  on scores.stuid=students.stuid
        INNER JOIN classes  on classes.cid=students.cid where classes.cname=#{cname} GROUP BY  stage
    </select>
    <resultMap id="Avg1" type="ALLColumn">
        <id column="score" property="score"></id>
        <result property="cname" column="cname"></result>
        <result property="stage" column="stage"></result>
        <result column="AVG(score)" property="AVG"></result>
    </resultMap>


   <!--查看学生成绩走势-->
    <select id="selectScoreByStuname" resultMap="selectScore1">
        select  score  from students  INNER JOIN scores   on students.stuid=scores.stuid  where stuname=#{stuname}
    </select>
    <resultMap id="selectScore1" type="ALLColumn">
        <result property="stuname" column="stuname"></result>
        <result column="score" property="score"></result>
        <result column="stage" property="stage"></result>
    </resultMap>
<!--test-->
 </mapper>