<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="editstudent" method="post">
        姓名：<input type="text" name="stuname" th:value="${student.stuname}"/><br/>
        性别：
        <span th:if="${student.stusex=='男'}">
         <input  type="radio" name="stusex" value="男" checked="true"/>男 <input  type="radio" name="stusex"  value="女" />女<br/>
    </span>
        <span th:if="${student.stusex=='女'}">
        <input  type="radio" name="stusex" value="男"/>男 <input  type="radio" name="stusex"  value="女" checked="true" />女<br/>
    </span>

        年龄：<input type="text" name="stuage" th:value="${student.stuage}"/><br/>
        <input type="submit"/>
    </form>

</body>
</html>