<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.mapper.teacherMapper.TeacherMapper">

    <resultMap id="teacherMap" type="teacher" >
        <id property="tid" column="tid"></id>
        <result property="tname" column="tname"></result>
        <association property="user" column="uid" javaType="user">
            <id property="uid" column="uid"></id>
            <result property="uname" column="uname"></result>
            <result property="upwd" column="upwd"></result>
        </association>
    </resultMap>

    <insert id="addTeacher" parameterType="teacher" useGeneratedKeys="true" keyProperty="tid">
        insert into teachers(tid,tname,uid) values (#{tid},#{tname},#{user.uid})
    </insert>
    <delete id="deleteTeacher" parameterType="int" >
        delete from teachers where tid=#{tid}
    </delete>
    <update id="updateTeacher" parameterType="teacher" >
        update teachers set tname=#{tname},uid=#{user.uid} where tid=#{tid}
    </update>
    <select id="getTeacherByTid" parameterType="int" resultMap="teacherMap">
        select * from teachers inner join users on teachers.uid=users.uid and tid=#{tid}
    </select>
    <select id="getTeacherList" resultMap="teacherMap">
        select * from teachers inner join users on teachers.uid=users.uid
    </select>
    <select id="getTeacherByUid" parameterType="int" resultMap="teacherMap">
        select * from teachers inner join users on teachers.uid=users.uid and users.uid=#{uid}
    </select>
    <select id="getStudentListByTid" parameterType="int" resultMap="studentMap">
        select * from teachers inner join classes on teachers.tid=classes.tid inner join students on classes.cid=students.cid
    </select>
    <resultMap id="studentMap" type="student">
        <id property="sid" column="sid"></id>
        <result property="sname" column="sname"/>
        <result property="stuage" column="stuage"/>
        <result property="stusex" column="stusex"/>
    </resultMap>
</mapper>