<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.mapper.studentMapper.StudentMapper2">
      <select id="getStudentAndClassList" resultMap="studentMap">
          select * from students
      </select>
    <update id="updateStudentByUser" parameterType="student">
        update students set stuname=#{stuname},stuage=#{stuage},stusex=#{stusex} where stuid=#{stuid}
    </update>
    <select id="getStudentByUser" parameterType="user" resultMap="studentMap">
        select * from students where uid=#{uid}
    </select>

    <resultMap id="studentMap" type="student">
        <id property="stuid" column="stuid"></id>
        <result property="stuname" column="stuname"></result>
        <result property="stuage" column="stuage"></result>
        <result property="stusex" column="stusex"></result>
        <association property="cid" column="cid" javaType="class"
                     select="com.test.mapper.classesMapper.ClassMapper.getClassByCid">
        </association>
    </resultMap>

</mapper>